extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          |  Tastewings 
        p
          small &nbsp;Find places to work with wifi near you!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') Take It Cheesy
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address 125 High Street, Reading, RG6 1PS
          p
            span.label.label-warning Main Dishes
            | &nbsp;
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning Desserts
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location2') Basic B Burgers 
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 200m
          p.address 125 High Street, Reading, RG6 1PS
          p
            span.label.label-warning steak
            | &nbsp;
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning Grills
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location3') The cellar Restaurant
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 250m
          p.address 125 High Street, Reading, RG6 1PS
          p 
          span.label.label-warning  steak
            | &nbsp;
          span.label.label-warning  Food
            | &nbsp;
          span.label.label-warning  soups and salads 
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | The food business has always been booming. Restaurants, cafeterias, and fast food shops require to make people aware of their specialties in the most attractive ways. The choice of food is as delicate as the place of eateries. Well-chosen social media bios will surely attract the target audience for the restaurant Business              